<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('./components/metas') %>
    <title>Notre site - Contact</title>
</head>
<body>
    <div class="container">
        <%- include('./components/header') %>
        
        <h1>Page Contact</h1>
    </div>
</body>
</html>